.blue {
    color: $blue-color;
}

.blueBg {
    background-color: $blue-color;
}

.fixedBottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 500;
    bottom: 0;
    width: 100%;
}